[Unit]
Description=hubproxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
Environment=CONFIG_PATH=/etc/hubproxy/config.toml
ExecStart=/usr/bin/hubproxy
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hubproxy

[Install]
WantedBy=multi-user.target
